.navlist {
	top:20px;
	left:20px;
	position:fixed;
	z-index: 1001;
}

.navlist div.nav-item {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin: 2px;
    text-align: center;
    width: 200px;
    overflow: hidden;
}

.navlist div.nav-item:hover {
    background: none repeat scroll 0 0 rgba(225, 225, 225, 0.9);
}